@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.nav-link {
  position: relative;
}
.nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #f9fafb;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.3s;
}
.nav-link:hover::after {
  width: 100%;
}
